<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="default"
		providerName="System.Data.SqlClient"
		connectionString="Data Source=nechango;Initial Catalog=CalidadProyecto;Integrated Security=False;User Id=sa;Password=123456" />
	</connectionStrings>
</configuration>